.login {
   
    .input-size{
        width: 100%;
    }
    .input-effects{
        border-radius: 5px;
        border: 1px solid wheat;
        color: darkgoldenrod;
        padding: 5px;
        margin-top: 10px;
        vertical-align: middle;
    }
    .center{
        margin: auto;
        vertical-align: middle;
    }
 }
